@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

html, body {
    font-family: Lato, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #fff;
    color: #666;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.inner > a {
    text-decoration: none;
    margin: auto 12px;
    font-weight: 300;
    font-size: 1.3em;
    color: #666;
}

h1 {
    font-weight: 300;
    font-size: 3.5em;
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 3em;
    }

    .inner > a {
        font-size: 1.2em;
    }
}